.projectscard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100% !important;
  height: 100% !important;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px 0px;

  @media (max-width: 768px) {
    max-width: 387px !important;
  }

  a {
    display: block;
    width: 168px;
    margin-top: 20px;
  }

  .projectsproducts__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "RG-StandardBold";
    margin: 12px 0px 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--btn-color);
  }

  &__text {
    opacity: 0.5;
    padding-bottom: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
  }

  &__image {
    width: 50% !important;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    padding-top: 20px;
    margin: 0 auto;

    @media screen and (max-width: 360px) {
      max-width: 336px !important;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 480px) {
      max-width: 336px !important;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      max-width: 336px !important;
      margin-bottom: 20px;
    }
    @media (max-width: 960px) {
      margin-bottom: 20px;
    }

    img {
      transition: 0.3s;
      width: 100% !important;
      height: 100% !important;
    }
  }
  .btn_block {
    a {
      @media (max-width: 768px) {
        width: 100% !important;
      }
    }
  }
}

.projectscard:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-image: url("../../../../Assets/Images/bd.jpg");
  background-repeat: no-repeat;
  background-clip: inherit;
  background-size: cover;
  background-position: center;

  .projectscard__image {
    img {
      transform: scale(1.03);
    }
  }

  .projectscard__title {
    color: white;
  }

  .projectscard__text {
    color: white;
    opacity: 1;
  }

  button {
    border: 1px solid white !important;

    span {
      color: white;
    }
  }
}
