<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Family Secure</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="img/apps/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/elegant-icon.css">
        <link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>

        <!-- header-end -->

        <!-- main-area -->
        <main>
            <section class="inner-blog pt-150 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-details-wrap">
                                <div class="meta-info">
                                    <ul>
                                        <li><i class="far fa-calendar"></i>Last Revised: 16 Aug 2024</li>
                                    </ul>
                                </div>

                                <div class="details__content pb-50">
                                    <h2>1. Introduction</h2>
                                    <p>BIGBOXPRO LLC, the developer of the Family Secure application (hereinafter referred to as the "App"), is committed to protecting the privacy of its users. This Privacy Policy explains what data we collect through the App, how we use it, and how it is stored. Protecting your personal data is of utmost importance to us, and we take appropriate measures to safeguard it.</p>
                                
                                    <h2>2. Data Collection</h2>
                                    <p><strong>Location Data:</strong> The App monitors your child's device location in real-time. This information is used to ensure your child's safety and to track their movements.</p>
                                    <p><strong>Call and SMS Data:</strong> Family Secure tracks who your child calls and which SMS messages they send and receive. This data allows parents to monitor who their child is communicating with.</p>
                                    <p><strong>Device Activity:</strong> The App logs which apps are installed on your child's device, how long they are used, and which apps are opened. This information helps parents oversee their child's online activity.</p>
                                    <p><strong>Notifications:</strong> The App monitors all notifications on your child's device, allowing parents to see which notifications are being received.</p>
                                    <p><strong>Website and App Restrictions:</strong> The App allows parents to restrict access to specific websites or apps. This helps protect your child from inappropriate content.</p>
                                
                                    <h2>3. Data Usage</h2>
                                    <p>We use the collected data for the following purposes:</p>
                                    <ul>
                                        <li>Providing parents with real-time information about their child's location and online activities;</li>
                                        <li>Providing security and support services;</li>
                                        <li>Identifying and restricting inappropriate content or activities on the child's device;</li>
                                        <li>Improving and developing App features.</li>
                                    </ul>
                                    <p></p>
                                    <h2>4. Security</h2>
                                    <p>We take appropriate security measures to protect your data. However, we cannot guarantee complete security of data transmitted over the internet.</p>
                                
                                    <h2>5. Children's Privacy</h2>
                                    <p>The Family Secure app is designed for parents to monitor their children. We recommend that parents take precautions to protect their children's personal data while using the App.</p>
                                
                                    <h2>6. Changes to This Privacy Policy</h2>
                                    <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page and will take effect from the date of publication.</p>
                                    <h2>7. Important Usage Note</h2>
                                    <p>The Family Secure app is designed to help parents ensure their children's safety and monitor their activities. This App should only be used by parents legally and appropriately.</p>
                                    <p>The use of this App for any other purposes, including monitoring others without their consent, engaging in unlawful activities, or using it in locations where monitoring requires permission, is strictly prohibited.</p>
                                    <p>BIGBOXPRO LLC is not responsible for any legal or ethical issues arising from the misuse of this App. Any illegal or unethical use may result in legal consequences.</p>
                                    <h2>8. Contact Us</h2>
                                    <p>If you have any questions about this Privacy Policy or your personal data, please contact us</p>
                                   
                                </div>
                 

                              
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
         
    
        </main>
        <!-- main-area-end -->

        <!-- footer -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-wrapper pt-100 pb-45">
                    <div class="row justify-content-between">
                        
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-40">
                                    <h3>Connect us</h3>
                                </div>
                                <div class="footer-contact">
                                    <ul>
                                        <li>Telegram:</i> <a href="https://t.me/family_secure_admin">@family_secure_admin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fb-link">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="s-copyright-text text-right">
                                <p>© 2024 Family Secure. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->




		<!-- JS here -->

    </body>
</html>
