.newproductscard {
  padding: 24px;
  border: 1px solid #e4e7e9;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100% !important;
  height: 100% !important;

  @media (max-width: 768px) {
    padding: 14px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }
  a {
    display: block;
    width: 180px;
  }
  &__title {
    font-family: "RG-StandardBold";
    margin-bottom: 12px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
  }

  &__text {
    opacity: 0.5;
    padding-bottom: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
  }

  &__image {
    width: 100% !important;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      max-width: 336px !important;
    }

    img {
      transition: 0.3s;
      width: 100% !important;
      height: 100% !important;
    }
  }
  // &__image {
  //   width: 100% !important;
  //   height:  auto !important;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   max-height: 248px !important;
  //   margin-bottom: 10px;
  //   transition: 0.3s;
  //   overflow: hidden;
  //   border-radius: 6px;
  //   border: 1px solid black;

  //   img {
  //     transition: 0.3s;
  //     width: 100% !important;
  //     height: 100% !important;
  //     object-fit: contain !important;

  //     @media (max-width: 600px) {
  //       object-fit: cover !important;
  //     }
  //   }

  //   @media (max-width: 768px) {
  //     width: 100% !important;
  //     height: 224px !important;
  //     max-width: 100% !important;
  //     max-height: 224px !important;
  //   }

  //   @media (max-width: 660px) {
  //     height: 200px !important;
  //   }

  //   @media (max-width: 500px) {
  //     height: 180px !important;
  //   }

  //   @media (max-width: 400px) {
  //     height: 220px !important;
  //   }

  //   @media (max-width: 335px) {
  //     height: 200px !important;
  //   }
  // }

  .btn_block {
    a {
      @media (max-width: 768px) {
        width: 100% !important;
      }
    }
  }
}

.newproductscard:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  .newproductscard__image {
    img {
      transform: scale(1.05);
    }
  }

  .newproductscard__title {
    color: var(--btn-color);
  }

  button {
    border: 1px solid var(--btn-color) !important;
    span {
      color: var(--btn-color) !important;
    }
  }
}
