.contact_page {
  display: flex;
  flex-direction: column;

  .contact_main__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h3 {
      font-size: 24px;
      font-weight: 600px;
      color: #000;
      opacity: 0.9;
    }

    .contact_main__items {
      display: flex;
      gap: 112px;

      .contact_item__one,
      .contact_item__two {
        display: flex;
        gap: 112px;

        .contact_items__address,
        .contact_items__number,
        .contact_items__mail,
        .contact_items__work {
          display: flex;
          flex-direction: column;
          gap: 12px;

          h4 {
            color: var(--black-color);
            font-size: 0.9em;
            font-weight: 600px;
            opacity: 0.7;
          }

          p {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: var(--black-color);
            font-size: 0.8em;
            opacity: 0.9;
            font-weight: 400px;
            width: 12.5rem;
          }
        }
      }

      .contact_items__number {
        a {
          color: var(--black-color);
          text-decoration: none;
          list-style: none;
        }
      }
    }
  }
  .contact__map {
    padding-bottom: 105px;
  }
}

@media (max-width: 768px) {
  .contact_page {
    h1 {
      font-size: 40px;
    }

    .contact_main__content {
      h3 {
        font-size: 20px;
      }

      .contact_main__items {
        flex-direction: column;
        gap: 20px;

        .contact_item__one {
          gap: 150px;

          .contact_items__address {
            p {
              width: 200px;
            }
          }
        }

        .contact_item__two {
          gap: 165px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .contact_page {
    h1 {
      font-size: 33px;
    }

    .contact_main__content {
      .contact_main__items {
        flex-direction: column;
        gap: 20px;

        .contact_item__one,
        .contact_item__two {
          flex-direction: column;
          gap: 20px;
        }

        .contact_item__one {
          gap: 20px;
        }
      }
    }
  }
}
