.servicedetails {
  display: grid;
  grid-template-columns: 1fr;

  .imageUrl {
    margin: 0 auto;
    width: 350px !important;
    height: 250px !important;
  }

  .details {
    @media (max-width: 1250px) {
      padding: 32px 0px 32px 0px;
    }

    @media (max-width: 650px) {
      padding: 20px 0px 20px 0px;
    }

    padding: 50px 0px 50px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    display: 20px;
    gap: 20px;

    h2 {
      font-size: 1.5em;
      font-weight: 400;
      font-family: "RG-StandardBold";
      color: #292929;
      margin-bottom: 20px;

      @media (max-width: 650px) {
        font-size: var(--heading-four);
        font-weight: 500;
        line-height: 1.1;
      }
    }

    p {
      line-height: 30px;
      font-size: 1em;
      color: var(--dark-gray-color);
    }
  }
}

@media (max-width: 650px) {
  .servicedetails .details {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .servicedetails .details {
    width: 100%;
  }
}
