.servicedetails {
  display: grid;
  grid-template-columns: 1fr;

  .webdevelopment {
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    h2 {
      width: 100%;
      height: 30%;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: var(--nestle2);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
    }
    p {
      width: 100%;
      height: 60%;
      margin-top: 20px;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin: 0 auto;
        font-family: "Montserrat", sans-serif;
        width: 50%;
        height: 100%;
        line-height: 32px;
        color: var(--nestle2);
        display: flex;
        padding-top: 10px;
        text-align: center;

        @media screen and (max-width: 1020px) {
          font-size: 1em;
          width: 100%;
        }
      }
    }
  }
  // web development end

  .features {
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    @media screen and (max-width: 360px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      .features_item {
        width: 100%;
      }
    }
    @media screen and (max-width: 480px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      .features_item {
        width: 50%;
      }
    }

    .features_item {
      width: 100%;
      height: 100%;
      cursor: pointer;

      .ft_image {
        width: 100%;
        height: 100px;
        overflow: hidden;
        img {
          width: 40%;
          height: 100%;
        }
      }

      .ft_title {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        font-size: 1.2em;
        line-height: 30px;
        color: var(--nestle2);
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid black;
      }
      .ft_subtitle {
        margin-top: 20px;
        font-size: 1em;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 30px;
        color: var(--nestle2);
      }
    }
  }

  // Features End

  // Wrapper design code
  .imageUrl {
    width: 350px !important;
    height: 250px !important;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .details {
    @media (max-width: 1250px) {
      padding: 32px 0px 32px 0px;
    }

    @media (max-width: 650px) {
      padding: 20px 0px 20px 0px;
    }

    padding: 50px 0px 50px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    display: 20px;
    gap: 20px;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: var(--nestle2);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2em;
      margin-bottom: 20px;

      @media (max-width: 650px) {
        font-size: var(--heading-four);
        font-weight: 500;
        line-height: 1.1;
      }
    }

    p {
      line-height: 30px;
      font-size: 1em;
      color: var(--dark-gray-color);
    }
  }
}

@media (max-width: 650px) {
  .servicedetails .details {
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .servicedetails .details {
    width: 100%;
  }
}
