.brands {

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
  }

  .brands__images__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 108px;

    @media (max-width: 800px) {
      padding-bottom: 80px;
    }
    @media (max-width: 480px) {
      padding-bottom: 48px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;

    .swiper-slide {
      width: 100%;
    }

    @media (max-width: 768px) {
      display: none;
    }

    button {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      border: 2px solid var(--white-color);
      cursor: pointer;
      align-items: center;
      justify-content: center;
      fill: var(--button-pressed);
      background-color: var(--btn-hover);
      opacity: 45%;
    }
  }

  &__title {
    font-size: var(--heading-four);
    font-weight: 600;
    line-height: 4.3125rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
  }

  &__image {
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    object-fit: contain !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0px 10px;
  }

  &__image_inner {
    padding: 10px 0px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    max-height: 150px !important;
    min-width: 200px !important;
    min-height: 78px !important;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      // border: 1px solid rgba(99, 99, 99, 0.2);

      img {
        transform: scale(1.03) !important;
      }
    }
  }

  &__cards {
    display: flex;
    cursor: grab;
 
  
    padding-left: max(6.5%, calc((100% - 1440px) / 2));

    @media (min-width: 1600px) {
      padding-left: max(0%, calc((100% - 1470px) / 2));
    }

    @media (max-width: 850px) {
      padding-left: max(0%, calc((100% - 1440px) / 2));
    }
  }

  &__swiper {
    padding: 30px  !important;
  }
}

.brands__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 78px;

  @media (max-width: 800px) {
    padding-bottom: 80px;
  }
  @media (max-width: 480px) {
    padding-bottom: 48px;
  }
}

.brands__cards .swiper-slide {
  width: calc(50% - 10px);
  margin-bottom: 20px;
 
  @media (max-width: 768px) {
    width: calc(33.333% - 10px);
  }

  @media (max-width: 480px) {
    width: calc(50% - 10px);
  }

  &:nth-child(odd) {
    margin-right: 20px;
  }
}
