.desktop {
  position: relative;
  transition: 0.4s ease;
  z-index: 1005;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 20px;
      a {
        text-decoration: none;
        font-size: var(--paragraph);
        font-weight: 500;
        line-height: 20px;
        position: relative;

        &:after {
          display: block;
          content: "";
          border-bottom: solid 3px;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          margin-top: 2px;
        }
        &:hover:after {
          transform: scaleX(0.6);
        }
      }
      .activeItem {
        font-weight: 700;
        &:after {
          transform: scaleX(0.5);
        }
      }
    }
    .info_side {
      display: flex;
      align-items: center;
      gap: 40px;

      a {
        text-decoration: none;
      }
      .number {
        height: 100%;
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 4px;

        @media screen and (max-width: 480px) {
          display: none;
        }
        @media screen and (max-width: 768px) {
          p {
            display: none;
          }
          h5 {
            font-size: 0.4em;
          }
        }
        p {
          color: #d7d4d4;
          font-size: 0.7em;
          font-weight: 500;
        }
        h5 {
          font-weight: 500;
          line-height: 30px;
          color: #fff;
          font-size: 1em;
        }
        svg {
          transform: rotate(270deg);
          width: 1rem;
        }
      }
      .bars_menu {
        cursor: pointer;
        display: none;
      }
    }
    /*Navbar Icons*/

    .navbar__icons {
      margin-right: 50px;
      display: flex;
      align-items: center;
      gap: 30px;
      @media screen and (max-width: 480px) {
        display: none;
      }

      img {
        width: 22px;
        height: 22px;
      }
      svg {
        width: 22px;
        height: 22px;
      }
    }

    @media screen and (max-width: 1000px) {
      padding: 18px 0;
      ul {
        display: none;
      }
      .number {
        cursor: pointer;
      }
      .info_side {
        @media screen and (max-width: 1000px) {
          gap: 20px;
          .bars_menu {
            display: block;
          }
          .number {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.mobile {
  display: none;
  .mask {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0f0f0f62;
    display: none;
    &.active {
      display: block;
    }
  }
  .mobile_nav {
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s ease;
    width: 50%;
    height: 100%;
    background-color: var(--white-color);
    z-index: 101;
    transform: translateX(100%);
    padding: 24px 16px;
    max-width: 400px;
    &.active {
      transform: translateX(0);
    }
    &_inner {
      position: relative;
      height: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 45px;
      .logo {
        svg {
          fill: var(--green-color);
        }
      }
      .close_icon {
        cursor: pointer;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 12px 0;
        border-bottom: 1px solid #f2f2f2;
        text-decoration: none;
        font-size: var(--paragraph);
        font-weight: 500;
        line-height: 20px;
        color: #4f4f4f;
      }
    }

    .number {
      cursor: pointer;
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: var(--primary-color);

      @media screen and (min-width: 480px) {
        display: none;
      }
      h5 {
        font-weight: 700;
        line-height: 30px;
        color: #000;
        font-size: var(--heading-six);
      }
      svg {
        transform: rotate(270deg);
        width: 1rem;
        path {
          stroke: #000;
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    display: block;
    .number {
      cursor: pointer;
    }
    .navbar__icons {
      display: none;
    }
  }
  @media screen and (max-width: 580px) {
    .mobile_nav {
      width: 68%;
    }
    .number {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 480px) {
    .mobile_nav {
      width: 100%;
      max-width: 100%;
    }
    .number {
      cursor: pointer;
    }
    .navbar__icons {
      display: none;
    }
  }
}

.transparent {
  .navbar {
    .logo {
      svg {
        fill: #fff;
      }
    }
    ul {
      a {
        color: #e0f7fa;
        &:after {
          border-color: #e0f7fa;
        }
      }
    }
    .info_side {
      svg {
        path {
          stroke: #f2f2f2;
        }
      }
    }
  }
}

.color {
  .navbar {
    .logo {
      svg {
        fill: #fff;
      }
    }
    ul {
      a {
        color: #fff;
        &:after {
          border-color: #333333;
        }
      }
    }
  }
  .bars_menu {
    svg {
      path {
        fill: white;
      }
    }
  }
  .info_side {
    svg {
      path {
        stroke: #292929;
      }
    }
  }
  .number h5 {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #292929;
  }
}

.sticky_nav {
  width: 100%;
  z-index: 99;
  margin-top: -5px;
  // padding: 0;
  background-color: var(--nestle1);
}

.absolute {
  transition: 0.4s ease;
  position: absolute;
}

.start_scrool {
  position: fixed;
  transform: translateY(-300%);
}

.fixed {
  position: fixed;
  transition: 0.4s ease;
  transform: translateY(0);
  background-color: var(--nestle1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.disableScrollHtml {
  overflow: hidden;
}

/*------------------------------------------------*/
/* Navbar.module.scss */
.navItem {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  display: none;
  z-index: 1000;
}

.dropdownMenu .dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownMenu .dropdownItem:hover {
  background-color: #f0f0f0;
}

.navItem:hover .dropdownMenu {
  display: block;
}
