.photo_gallery {
  display: grid;
  grid-template-columns: 1fr;
  height: 520px;
  padding-top: 50px;

  .photo_gallery_title {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 2em;
      font-weight: 500;
    }
  }

  .photo_gallery_slide {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px 0;
    border-radius: 10px;

    img {
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        cursor: pointer;

        &::selection {
          background-color: transparent;
        }
      }
    }
  }

  @media (max-width: 520px) {
    height: auto;
    margin-top: 20px;

    .photo_gallery_slide {
      width: 100%;
      height: 100%;
      margin-bottom: 55px;

      img {
        height: 100%;
      }
    }
  }
}
