.serviceslist {
  &__about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 32px;
    margin-bottom: 20px;
    justify-content: center !important;
    align-items: center !important;
    @media screen and (max-width: 1600px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 1250px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 650px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
