/* components/Timeline.module.css */
.timelinecontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 80px 0;
  h1 {
    width: 100%;
    height: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--nestle2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2em;

    @media screen and (max-width: 960px) {
      display: no;
    }
  }
}

.timelinecontainer::after {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timelineitem {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timelineitem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timelineitemcontent {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: rgb(71, 7, 16);
  background: linear-gradient(
    90deg,
    rgba(71, 7, 16, 1) 53%,
    rgba(12, 12, 46, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 300px;
  max-width: 70%;
  text-align: right;
}

.timelineitemcontent::after {
  content: " ";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timelineitem:nth-child(odd) .timelineitemcontent {
  text-align: left;
  align-items: flex-start;
}

.timelineitem:nth-child(odd) .timelineitemcontent::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timelineitemcontent .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timelineitem:nth-child(odd) .timelineitemcontent .tag {
  left: auto;
  right: 5px;
}

.timelineitemcontent p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
  color: #fff;
  font-weight: 400;
}

.timelineitemcontent a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.timelineitemcontent a::after {
  content: " ►";
  font-size: 12px;
}

.timelineitemcontent .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timelineitem:nth-child(odd) .timelineitemcontent .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timelineitemcontent {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timelineitemcontent,
  .timelineitem:nth-child(odd) .timelineitemcontent {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timelineitemcontent .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timelineitemcontent time {
    margin-top: 20px;
  }

  .timelineitemcontent a {
    text-decoration: underline;
  }

  .timelineitemcontent a::after {
    display: none;
  }
}
