<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg">
    <title>PrivChat</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/css-bootstrap.min.css">
    <link rel="stylesheet" href="css/css-lineicons.css">
    <link rel="stylesheet" href="css/css-tiny-slider.css">
    <link rel="stylesheet" href="css/css-glightbox.min.css">
    <link rel="stylesheet" href="css/app-template-style.css">
  </head>
  <body>
    <section class="navbar-area navbar-five">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <img class="d-inline-block align-top" width="42" height="42" src="images/privchat_logo_2.png">
                <div class="d-inline-block h3 text-white">PrivChat</div>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFive" aria-controls="navbarFive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse sub-menu-bar" id="navbarFive">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="page-scroll active" href="#hero">Главная</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#features">Функции</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="/download.html">Загрузить</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section id="features" class="features-area features-twelve text-center">
      <div class="wrap container-fluid no-gutters" role="document">
        <div class="content row">
          <main class="main">
            <div class="row mt-4">
              <div class="col-md-6 phone mt-4">
                <div class="container-fluid">
								<h2>PrivChat для мобильных устройств</h2>
                <br>
                <div class="mobile-btn mt-4">
                  <a vmx="Download clicked" vmx-type="Google Play button" id="mobile-btn-googleplay" class="googleplay d-btn" href="#">
                    <img src="https://www.viber.com/app/uploads/google.png" alt="googleplay">
                  </a>
                  <a vmx="Download clicked" vmx-type="Apple app store button" id="mobile-btn-applestore" class="applestore d-btn" href="#">
                    <img src="https://www.viber.com/app/uploads/Apple.png" alt="applestore">
                  </a>
                </div>
                <br>
                <br>
                <div class="mobile-image">
                  <img class="img-fluid" src="images/mobile_download.png" alt="PrivChat for mobile">
                </div>
               
              </div>
            </div>
            <div class="col-md-6 mt-4">
              
              <div class="container-fluid" >
							  <h2>PrivChat для Mac или Windows</h2>
                <hr>
                <a href=" javascript:void(0)" class="btn primary-btn mt-4"> Скачать</a>				
                <br>			
                <div class="desktop-image mt-4">
                  <br>	
                  <br>
                  <img class="img-fluid d-none d-sm-block" src="images/desktop_download.png" alt="PrivChat for Desktop">
                  <img class="img-fluid d-sm-none" src="images/desktop_download.png" alt="Viber for Desktop">
                </div>
              </div>
            </div>
        </div>
        </main>
        <!-- /.main -->
      </div>
      <!-- /.content -->
      </div>
    </section>
    <footer class="footer-area footer-six">
      <div class="footer-widget">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-sm-12">
              <div class="f-about">
                <div class="footer-logo">
                  <a href="index.html">
                    <h3 class="fw-bold text-white">PrivChat</h3>
                  </a>
                </div>
                <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="footer-support">
                  <span class="number">
                    <i class="lni lni-phone-set"></i> +8801234567890 </span>
                  <span class="mail">
                    <i class="lni lni-envelope"></i>
                    <a href="email-protection.html" class="__cf_email__" data-cfemail="8dfef8fdfde2fff9cdf8e4e9e8eee6a3eee2e0">[email&nbsp;protected]</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-sm-4">
              <div class="footer-link">
                <h6 class="footer-title">Company</h6>
                <ul>
                  <li>
                    <a href="javascript:void(0)">About</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Contact</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Marketing</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Awards</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
              <div class="footer-link">
                <h6 class="footer-title">Services</h6>
                <ul>
                  <li>
                    <a href="javascript:void(0)">Products</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Business</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Developer</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Insights</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
              <div class="footer-link">
                <h6 class="footer-title">Help &amp; Suuport</h6>
                <ul>
                  <li>
                    <a href="javascript:void(0)">Support Center</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">FAQ</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Terms &amp; Conditions</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
              <div class="footer-app-store">
                <h6 class="footer-title">Download Our App</h6>
                <ul>
                  <li>
                    <a href="javascript:void(0)">
                      <img src="images/footer-app-store-white.svg" alt="app">
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <img src="images/footer-play-store-white.svg" alt="play">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="copyright text-center d-md-flex justify-content-between align-items-center">
                <p class="text">Copyright &copy; 2024 Ayro UI. All Rights Reserved</p>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="lni lni-twitter-original"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="lni lni-instagram-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <i class="lni lni-linkedin-original"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>
    <script data-cfasync="false" src="js/cloudflare-static-email-decode.min.js"></script>
    <script src="js/js-bootstrap.bundle.min.js"></script>
    <script src="js/js-glightbox.min.js"></script>
    <script src="js/js-tiny-slider.js"></script>
    <script src="js/js-main.js"></script>
  </body>
</html>