.order {
  width: 100%;
  height: auto;
  height: 15vh;
  padding: 10px;

  .order_content {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(71, 7, 16);
    background: linear-gradient(
      90deg,
      rgba(71, 7, 16, 1) 53%,
      rgba(12, 12, 46, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );

    // background: rgb(2, 0, 36);
    // background: linear-gradient(
    //   90deg,
    //   rgba(2, 0, 36, 1) 0%,
    //   rgba(17, 70, 170, 1) 35%,
    //   rgba(0, 212, 255, 1) 100%
    // );

    border-radius: 12px;
    padding: 0px 20px 0px 20px;

    .order_content_text {
      height: auto;
      display: grid;
      grid-template-columns: 1f;
      h3 {
        font-size: 1.2em;
        font-weight: 500;
        color: var(--white-color);
      }
      p {
        font-size: 0.8em;
        font-weight: 500;
        opacity: 0.7;
        margin-top: 5px;
        color: var(--white-color);
      }
    }
    .order_btn_wrapper {
      height: auto;
    }

    /*-------------------------------------------------------Media------------------------------------*/
    @media screen and (max-width: 360px) {
      display: flex;
      flex-direction: column;
      padding: 0px;

      .order_content_text {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
      }
      .order_btn_wrapper {
        width: 100%;
        height: 38%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @media (max-width: 480px) {
      display: flex;
      align-items: center;
      justify-content: center;
      .order_btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
